<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>

    <add key="OutputFilePath" value="D:\"/>
    <add key="StartDate" value="3/17/2015"/>
    <add key="EndDate" value="5/17/2015"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>