<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SearchStartDate" value="2/2/2018"/>
    <add key="SearchEndDate" value="3/2/2018"/>
    <add key="DocumentTypes" value="AD, ADC"/>

    <add key="OutputFilePath" value="G:\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>