<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="OutputFilePath" value="D:\"/>
      <add key="DocTypes" value="10,21"/>
      <add key="StartDate" value="2/2/2018"/>
      <add key="EndDate" value="3/10/2018"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>